.cell {
  width: 2em;
  height: 2em;
}

.uncovered-cell:active,
.uncovered-cell:focus,
.uncovered-cell {
  width: 2em;
  height: 2em;
  font-weight: 900;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
  outline: none;
  border-collapse: collapse;
  border-spacing: unset;
}

.row {
  display: flex;
}

.minesweeper {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.cell-1 {
  color: blue;
}

.cell-2 {
  color: green;
}

.cell-3 {
  color: red;
}

.cell-4 {
  color: navy;
}

.cell-5 {
  color: brown;
}

.cell-6 {
  color: cyan;
}

.cell-7 {
  color: black;
}

.cell-8 {
  color: grey;
}

.cell-mine {
  content: "💣";
}

.clicked-mine:active,
.clicked-mine:focus,
.clicked-mine {
  background-color: red;
}
